body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f7fa;
    font-family: Arial, sans-serif;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #ffffff;
    color: #333333;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


header h1 {
    color: #0a0a57;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333333;
    font-weight: bold;
}

main {
    padding: 40px 0;
    text-align: center;
}

.banner {
    background-color: #0a0a57;
    color: #ffffff;
    text-align: center;
    padding: 50px 0;
}

.banner h2 {
    font-size: 36px;
}

.banner p {
    font-size: 18px;
    margin-bottom: 20px;
}

.btn {
    padding: 15px 30px;
    background-color: #ffffff;
    color: #0a0a57;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}


footer {
    background-color: #ffffff;
    color: #333333;
    padding: 20px 0;
    text-align: center;
    
}

.search-bar input[type="text"] {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #dbe4eb;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.search-bar button {
    padding: 10px 20px;
    background-color: #0a0a57;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}
.logo-search {
    display: flex;
    align-items: center;
}

.search-bar {
    margin-left: 20px;
}

.top-buttons {
    position: absolute;
    top: 20px;
    right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    font-weight: bold;
}

h1 {
    margin: 0;
}

#Cadastrotitulo{
    background-color: #ffffff; 
    color: #333333;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#body_cadastro{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f7fa; 
}

#form_cadastro{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center; 
}

#input-groupcadastro{
    margin-bottom: 20px;
    text-align: left; 
}

#checkbox-groupcadastro{
    display: flex;
    align-items: center; 
}
#labelcadastro{
    display: inline-block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="checkbox"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #dbe4eb;
    border-radius: 5px; 
    outline: none;
}
#botãocadastro{
    padding: 10px 20px;
    background-color: #0a0a57;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin: 0 auto; 
    height: 40px;
    width: 150px;
}

#frase{
    white-space: nowrap;
}
.comment-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

textarea {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #c8c9cc;
    border-radius: 5px;
    outline: none;
    resize: vertical;
}
#botaocomen{
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #0a0a57;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.checkout {
    background-color: #ffffff; 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    margin-bottom: 20px;
}
.checkout h2 {
    margin-bottom: 20px;
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: #ffffff; 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.cart-item img {
    width: 100px;
    height: auto;
    margin-right: 20px;
}


.info {
    flex-grow: 1;
    text-align: left;
}

.checkout p {
    font-size: 18px;
    margin-bottom: 10px;
}

.checkout-btn {
    padding: 10px 20px;
    background-color: #0a0a57; 
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
#botãocarrinho{
    padding: 10px 20px;
    background-color: #0a0a57; 
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.remove-from-cart {
    padding: 10px 20px;
    background-color: #0a0a57; 
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}
#numero{
    margin: 20px 20px;
}

.carrinho {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 300px;
}

.lista-produtos {
    list-style-type: none;
    padding: 0;
}

.lista-produtos li {
    margin-bottom: 5px;
}

.botao-comprar {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.botao-comprar:hover {
    background-color: #45a049;
}