body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f7fa;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #ffffff;
    padding: 20px 0;
}

header h1 {
    color: #0a0a57;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333333;
    font-weight: bold;
}

main {
    padding: 40px 0;
}

.banner {
    background-color: #0a0a57;
    color: #ffffff;
    text-align: center;
    padding: 50px 0;
}

.banner h2 {
    font-size: 36px;
}

.banner p {
    font-size: 18px;
    margin-bottom: 20px;
}

.btn {
    padding: 15px 30px;
    background-color: #ffffff;
    color: #0a0a57;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}


footer {
    background-color: #ffffff;
    color: #333333;
    padding: 20px 0;
    text-align: center;
}

.search-bar input[type="text"] {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #dbe4eb;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.search-bar button {
    padding: 10px 20px;
    background-color: #0a0a57;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}
.logo-search {
    display: flex;
    align-items: center;
}

.search-bar {
    margin-left: 20px;
}

.top-buttons {
    position: absolute;
    top: 20px;
    right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    font-weight: bold;
}

