body {
    background: radial-gradient(circle at top left, #4d4dc9, hsl(60, 100%, 84%), #0a0a57);
    margin: 0;
    height: 100vh;
    align-items: center;
    text-align: center;
    width: 500px;  
    padding: 0px 20px 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #0a0a57;
    display: flex;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 45px;
}
button{
    background-color: #0a0a57;
    width: 200px;
    height: 35px;
    font-size: 20px;
    font-weight: bold;
    color: azure;
    border-radius: 8px;

}

input{
    background-color: azure;
    width: 200px;
    height: 25px;
    border-radius: 5px;
}

#notificacao{
    background-color: azure;
    width: 20px;
    height: 20px;
    border-radius: 5px;
}

h3{
    line-height: 2.1;
}

::placeholder{
    font-weight: bold;
    font-size: 15px;
    color: hsl(226, 23%, 41%);  
    border: #0a0a57;
}


.container {
    position: relative;
  }
  
.quadrado {
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px; 
    height: 500px; 
    background-color: rgb(255, 254, 254); 
    z-index: -1; /* Define a posição do quadrado atrás dos outros elementos */
    border-radius: 10%;
    opacity: 0.58;
  }
  
  .conteudo {
    text-align: center;
    z-index: 1; /* Define a posição do conteúdo na frente do quadrado */
  }

  #esqueceu {
    color: blue; /* Define a cor do texto do link */
    text-decoration: underline;
  }