body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f7fa; /* Tom pastel de azul */
}

header {
    background-color: #ffffff; /* Branco */
    color: #333333; /* Cinza escuro */
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
    text-align: center;
}

.checkout {
    background-color: #ffffff; /* Branco */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    margin-bottom: 20px;
}

.checkout h2 {
    margin-bottom: 20px;
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.cart-item img {
    width: 100px;
    height: auto;
    margin-right: 20px;
}

.info {
    flex-grow: 1;
    text-align: left;
}

.checkout p {
    font-size: 18px;
    margin-bottom: 10px;
}

.checkout-btn {
    padding: 10px 20px;
    background-color: #27282c; /* Tom escuro */
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.checkout-btn:hover {
    background-color: #1a1b1e; /* Tom mais escuro */
}

footer {
    background-color: #27282c; /* Tom escuro */
    color: white;
    text-align: center;
    padding: 10px;
}
