body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f7fa; 
}

header {
    background-color: #ffffff; 
    color: #333333; 
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

h1 {
    margin: 0;
    font-weight: lighter; 
}

main {
    padding: 20px;
    text-align: center;
}

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="text"] {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #dbe4eb; 
    border-radius: 5px;
    outline: none;
}

button {
    padding: 10px 20px;
    background-color: #0a0a57; 
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #4b8e9a;
}

footer {
    background-color: #ffffff;
    color: #333333; 
    text-align: center;
    padding: 10px;
}
